body {
	margin: 0; /*margen general T R B L*/
	font-size: 11px; /*Tamaño de fuente*/
	font-family: Arial, Helvetica, sans-serif; /*Nombre de fuente*/
	font-weight: bold; /*Negrita*/
}

#cabecera {
	margin-top: 70px; /*margen TOP separacion desde el borde hasta la primera linea a imprimir*/
	margin-left: 25px;
	width: 850px;
	border: 1px solid #fff;
}

#cabecera .line {
	border: 0px solid orange;
	position: absolute;
}

#nu_comprobante {
	margin-left: 700px; /*Como usar X*/
	width: 100px;
}

#fechahora {
	margin-top: 10px; /*Como usar Y*/
	margin-left: 100px; /*Como usar X*/
	width: 150px;
}

#no_cliente {
	margin-top: 45px;
	margin-left: 100px;
	width: 500px;
}

#fe_venta {
	margin-top: 45px;
	margin-left: 750px;
	width: 100px;
}

#de_direccion {
	margin-top: 70px;
	margin-left: 100px;
	width: 500px;
}

#nu_guia_remision {
	margin-top: 75px;
	margin-left: 750px;
	width: 100px;
}

#co_cliente {
	margin-top: 110px;
	margin-left: 100px;
}

#no_forma_pago {
	margin-top: 110px;
	margin-left: 650px;
}

#co_vendedor {
	margin-top: 110px;
	margin-left: 800px;
}

#detalle {
	margin-top: 170px;
	margin-left: 40px;
	width: 850px;
}

#detalle .line {
	float: left;
	margin-top: 5px;
	border: 0px solid orange;
}

#ca_producto {
	width: 70px;
	text-align: right;
}

#no_unidad {
	width: 40px;
	padding-left: 5px;
}

#no_producto {
	width: 400px;
	word-wrap: break-word; /*Hace salto de line en caso pase el ancho del div*/
}

#no_lote {
	width: 80px;
}

#fe_vencimiento {
	width: 65px;
}

#va_producto {
	width: 80px;
}

#va_total {
	width: 80px;
}

#totales {
	margin-top: 350px;
	margin-left: 50px;
	width: 850px;
	border: 0px solid orange;
}

#son {
	margin-left: 80px;
}

#stotal {
	margin-top: 10px;
}

#igv {
	margin-top: 7px;
}

#total {
	margin-top: 7px;
}

.format_number {
	text-align: right;
}









